<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <div class="container">
        <h1><%= theGame.player1.name %> Cards:</h1>
        <% theGame.player1.getCards().forEach(function(card){ %>
            <div class="card">
                <%= card.toString() %>
            </div>
        <% }); %>
    </div>

    <div class="container">
        <h1><%= theGame.player2.name %> Cards:</h1>
        <% theGame.player2.getCards().forEach(function(card){ %>
            <div class="card">
                <%= card.toString() %>
            </div>
        <% }); %>
    </div>
        
    <hr>

    <% while(theGame.playerOnTurn.getCards().length > 0) { %>
        <%- include('hand', {theGame: theGame}); %>
    <% } %>
</body>
</html>